@charset "UTF-8";
/* CSS Document */

/* Font Family */
@font-face {
    font-family: moderneSans;
    src: url(../_fonts/MODERNE_SANS.ttf);
}
/* infoBox Overall */
.infoBox{width:66%;
		margin:auto;}
#home h3{font-family:moderneSans, sans-serif;}
.clear{clear: both;}

/* Form Style */
.main form label {
  width: 133px;
  text-align: left;
  display: block;
  float: left;}
.main form li{padding:5px 0;}
 input[type="date"], input[type="text"], input[type="password"]{border:none;
	padding:10px;}
form select{width:146px;}
	
/* miniButton */
.miniButton{outline:solid 2px #2A2C2B;
			background-color:#2A2C2B;
			padding:10px 5px;
			border:none;
			color:white;
			font-family:'Lato', sans-serif;
			font-size:100%;}
.miniButton:hover{outline:solid 2px #2A2C2B;
				background-color:white;
				color:#2A2C2B;}
input[type="submit"] {margin-right: 10px;}
.trackerBack{float:left;
			margin-right:10px;}

/* Body */
body{background-color:#2A2C2B;
	color: #fff;
	font-family: moderneSans, sans-serif;
  	font-size: 100%;
	-webkit-font-smoothing: subpixel-antialiased;}
body a {color: #fff;
	text-decoration: none;}
body a:hover{color:#DC3522;}
body a:hover {text-decoration: none;}

/* Logo */
#logo img{width:200px;}
#logo{background-color:#1E1E20;
		padding: 10px 90px;}

			
/* Nav */
.nav {float: right;
	  color:#fff;
	  clear:right;
	  word-spacing:-3px;}
.nav ul{float:right;}
.nav li a{display: block;
 	 height: 40px;
 	 line-height: 25px;
	}
.nav li {
  display: block;
  float: left;
  line-height: 25px;
  height: 29px;
  position: relative;
  padding: 0 10px;}
.subNav{float:right;
	clear:right;}

/* Alert Box */
.alertBox{background-color:#D9CB9E;
		color:black;
		width:66%;
		margin:auto;
		padding-bottom:10px;}
.alertText h1, .alertText h2{padding: 20px 20px 0;}
.alertText h3{padding: 0 20px;}
		
/* Header Image */
#headerDark{background-color:rgba(0,0,0,0.33);}
.header{background-image:url(../_images/header2.jpg);
		background-size:cover;
   		width:100%;}
.header img, .regHeader img, .logHeader img, .aboutHeader img, .contactHeader img, .membersHeader img, .trackerHeader img{width:100%;}
.header #bannerText{width:200px;
					padding: 3% 20% 5%;}

/* Main header */
#mainHeader{margin-bottom:-33px;}

/* Register Header */
.regHeader{background-image:url(../_images/regheader.jpg);
		background-size:cover;
   		width:100%;
		padding:5% 0;
		margin-bottom:-33px;}
.regHeader #bannerText{width:250px;
					padding: 0 20% 2%;}
					
/* Login Header */
.logHeader{background-image:url(../_images/treadmill.jpg);
		background-size:cover;
   		width:100%;
		margin-bottom:-33px;}
.logHeader #bannerText{width:200px;
					padding: 3% 0 5% 55%;}

/* About Header */
.aboutHeader{background-image:url(../_images/aboutHeader.jpg);
		background-size:cover;
   		width:100%;
		margin-bottom:-33px;}
.aboutHeader #bannerText{width:300px;
						padding: 5% 0 7% 55%;}
						
/* Memberships Header */
.membersHeader{background-image:url(../_images/memberHeader.jpg);
		background-size:cover;
   		width:100%;
		padding:5% 0;
		margin-bottom:-33px;}
.membersHeader #bannerText{width:300px;
					padding: 0 20% 2%;}

/* Contact Header */
.contactHeader{background-image:url(../_images/gymBuilding.jpg);
		background-size:cover;
   		width:100%;
		padding:9% 0;
		margin-bottom:-33px;}
.contactHeader #bannerText{width:350px;
						padding: 0 20% 2%;}

/* Fitness Tracker Header */
.trackerHeader{background-image:url(../_images/trackerHeader.jpg);
		background-size:cover;
   		width:100%;
		margin-bottom:-33px;}
.trackerHeader #bannerText{width:200px;
						padding: 3% 0 5% 60%;}
						
/* Admin Panel Header */
.adminHeader{background-image:url(../_images/adminHeader.jpg);
		background-size:cover;
   		width:100%;
		padding:5% 0;
		margin-bottom:-33px;}
.adminHeader #bannerText{width:200px;
						padding: 0 20% 2%;}



/* Text Box */
#title{word-spacing:-7px;}
.textBox{padding: 20px 30px;
		margin-bottom:20px;
		color: #000;
		background-color:#DADADA;}
.textSegment{font-family:'Lato', sans-serif;
			width:52%;
			float:left;}
.textSegment p{padding:20px 0;
				line-height:1.5em;
				word-spacing:3px;
				text-align:justify;}

/* About */
.about .textBox .textSegment, 
.members .textBox .textSegment, 
.tracker .textBox .textSegment, 
.showCardio .textBox .textSegment,
.showFree .textBox .textSegment,
.showMachine .textBox .textSegment,
.adminShow .textBox .textSegment{width:100%;
					float:none;}

/* Memberships */
.members .textSegment h3{padding-top:20px;}
.members .textSegment p{padding: 0 0 20px;
						width:70%;
						float:left;}
.members .textSegment ul{width:70%;
						float:left;
						padding-left:20px;
						line-height:1.4em;}
.members .textSegment .memCostBadge img{width:25%;}
.members .textSegment .memCostBadge{ text-align: right;
  									margin: -30px 0 30px 0;}
.members .textSegment h3{font-family: moderneSans, sans-serif;}
.members hr{border: solid 1px #374140;}

/* Contact Info Box */
#contactBoxRight{color:white;
				float:right;
				width:43%;}
.contactInfoBox{padding:10px 15px;
				background-color:#374140;
				margin-bottom:20px;
				box-shadow: -5px 10px 15px #888888;}
.contactBox{padding:10px;}
.contactBox p{font-family:'Lato', sans-serif;
			margin-left:10px;
			line-height:1.33em;
			word-spacing:1px;}
.contactInfoBlock{padding:10px 0;}
.contactInfoBlock h3{word-spacing:-5px;}
.contactInfoBlock img {width: 100%;}
#socialIcon {width: 66%;
  			margin: auto;
			margin-top: 20px;}					
/* Fitness Tracker */
.tracker .textSegment form{padding: 0 0 20px;
						width:50%;
						float:left;}

.tracker .textSegment .memCostBadge img{width:25%;}
.tracker .textSegment .memCostBadge{ text-align: right;
  									margin: -30px 0 30px 0;}
									
/* Show Log Tables */
.textBox table{margin-top:10px;
			   width:100%;}
.textBox table tr{text-align:center;}
.textBox table td, .textBox table th{height: 50px;
  				vertical-align: middle;
  				text-align:center;}
.textBox table .colEven{background-color:#2A2C2B;
						color:white;}
.textBox table .colOdd{background-color:#1E1E20;
						color:white;}

/* Button Box */
.buttonBox{float:right;
			width:45%;
			text-align:center;}
.buttonBox img{width:100%;}


/* Button */
.bigButton{width:80%;
			margin:auto;
			padding:10px 0;}

/* Register */
#title h1, #title h3{line-height:1.5em;}

/* Footer */
#footer{padding:10px 0;
		font-size:.75em;
		text-align:center;}